@import 'global';

// Set images to half CSS pixel size for HDPI-devices like iPhone Retina and some Android devices.

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dppx) {
  #logo + .title img, #scribble img {
    height: 16px;
    top: 8px;
    width: 16px;
  }

  #toggle {
    background-image: url($image_path + 'logoblue@2x.png');
    background-size: 120px 50px;
  }

  @for $i from 1 through 2 {
    @for $c from 1 through length($colors) {
      .#{nth($color-names, $c)}-#{$i}-pane-nav {
        #toggle {
          background-image: url($image_path + 'logo' + nth($color-names, $c) + '@2x.png');
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    #logo {
      background-image: url($image_path + 'logo638.png');
      background-size: 319px 133px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 1024px) {
    #logo {
      background-image: url($image_path + 'logo1181.png');
      background-size: 638px 265px;
    }
  }
}
