@import 'global';

@for $i from 1 through 2 {
  @for $c from 1 through length($colors) {
    .#{nth($color-names, $c)}-#{$i}-pane-nav {
      #toggle {
        background-image: url($image_path + 'logo' + nth($color-names, $c) + '.png');
      }

      #menu {
        a:hover, .#{nth($color-names, $c)}-#{$i}-hilite {
          @if nth($color-names, $c) == 'grey' {
            // Text color is already $grey so make it darker.
            color: darken($grey, 40);
          } @else if nth($color-names, $c) == 'yellow' {
            // Text color is already $grey so make it darker.
            color: darken($yellow, 10);
          } @else {
            color: nth($colors, $c);
          }
        }
      }
    }

    .#{nth($color-names, $c)}-#{$i}-pane {
      background-color: nth($colors, $c);

      .title {
        background-color: translucent-title(nth($colors, $c));
      }

      @if nth($color-names, $c) == 'yellow' {
        .body {
          color: $grey;
        }
      }

      & + article header .slant {
        @if ($i + $c) % 2 == 0 {
          @include line-up(nth($colors, $c));
        } @else {
          @include line-down(nth($colors, $c));
        }
      }
    }
  }
}
