.contact {
  ul {
    display: table;
    list-style: none;
    padding: 0;
    width: 100%;
    li {
      display: table-cell;
      text-align: center;
      i {
        @include font-size(36);
      }
    }
  }
}
.colofon {
  @include font-size(15);
  padding-top: 40px;
  width: 100%;
  td:first-child {
    text-align: right;
    font-style: italic;
    width: 50%;
  }
}
