.contact {
  ul {
    display: table;
    list-style: none;
    padding: 0;
    width: 100%;
    li {
      @include font-size(36);
      display: table-cell;
      text-align: center;
    }
  }
}
.colofon {
  @include font-size(16);
  padding-top: 40px;
  width: 100%;
  td {
    vertical-align: top;
    &:first-child {
      text-align: right;
      font-style: italic;
      width: 50%;
    }
  }
}
