// Predefined color palette.
$blue: #008db1;
$green: #73c92d;
$yellow: #ffdd35;
$red: #e71400;
$grey: #827c78;
$color-names: 'blue', 'green', 'yellow', 'red', 'grey';
$colors: $blue, $green, $yellow, $red, $grey;

$image_path: '/logos/';

// Scale default font-size 16px to 10px for easy rem sizing.
$magic-font-size: 62.5%;

// Translucent title bars at top of each article.
@function translucent-title($color) {
  @return rgba($color, 0.6);
}

// Line from lower left to upper right corner.
@mixin line-up($color) {
  border-color: transparent transparent transparent $color;
  border-width: 0 0 1px 1px;
  border-style: solid;
}

// Line from upper left to lower right corner;
@mixin line-down($color) {
  border-color: transparent $color transparent transparent;
  border-width: 0 1px 1px 0;
  border-style: solid;
}

// Drop shadow for nav bar and other nav elements.
@mixin box-shadow($y: 2px, $b: 2px) {
  box-shadow: 0 $y $b 0 rgba(0, 0, 0, .2);
}

// Set font-size in px for IE 8 and in rem for others.
@mixin font-size($s) {
  font-size: $s + px;
  font-size: ($s / 10) + rem;
}
