@import 'global';

#litebox {
  background-color: $blue;
  display: none;
  height: 100%;
  opacity: .8;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#liteimg {
  display: none;
  left: 50%;
  max-width: 95%;
  max-height: 95%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.spinner {
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  background-color: white;
  height: 10%;
  left: 45%;
  position: fixed;
  top: 45%;
  width: 10%;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
