.projects {
  padding: 1em 15% 1em 15%;
}

.project {
  @include box-shadow;
  background-color: white;
  color: $grey;
  margin: .5em 0 .5em 0;
  overflow: hidden;
  padding: 1em 5% 1em 5%;

  h1:first-project {
    cursor: hand;
  }
}

.off {
  box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
  height: 5em;
}
