@import 'global';

// Set all text to 3/4 and left & right margin to 1/2 of original size.

@media screen and (max-width: 1024px) {
  html {
    font-size: $magic-font-size * .75;
  }

  .title {
    line-height: 90px;
  }

  .body {
    padding-left: 10%;
    padding-right: 10%;
  }

  #logo + .title img, #scribble img {
    height: 20px;
    top: 12px;
    width: 20px;
  }

  .projects {
    padding-left: 5%;
    padding-right: 5%;

    .project {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

// Fix long unbreakable e-mail address.
@media screen and (max-width: 384px) {
  .grey-pane .body {
    padding-left: 0;
    padding-right: 0;
  }
}
