#logo {
  background: url($image_path + 'logo1181.png') center no-repeat;
  width: 100%;
}

@media screen and (max-width: 320px) {
  #logo {
    background-image: url($image_path + 'logo319.png');
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  #logo {
    background-image: url($image_path + 'logo319.png');
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #logo {
    background-image: url($image_path + 'logo638.png');
  }
}
