@import 'global';

// On small screens replace menu bar with logo button revealing menu item list.

@media screen and (max-width: 768px) {
  #nav {
    background-color: transparent;
    box-shadow: none;
    height: 0;
  }

  #menu {
    background-color: white;
    left: -50%;
    padding-left: 0;
    position: fixed;
    transition: left .2s ease;
    top: 50px;
    width: 50%;
    z-index: -1;

    li {
      display: block;
      @include font-size(36);
      line-height: 1.4;
      padding-right: 0;
      text-align: center;
    }
  }

  #nav.show {
    #toggle {
      @include box-shadow($y: 0, $b: 0);
      background-position: center;
      opacity: 1;
      transform: rotate(0);
    }

    #menu {
      @include box-shadow;
      left: 0;
    }
  }

  #toggle {
    @include box-shadow;
    background-position: left;
    display: inline;
    margin: 0;
    opacity: .75;
    transform-origin: left bottom;
    transform: rotate(-24deg);
    transition: all .2s ease;
    width: 50%;
  }

  #nav.show.top #menu {
    top: -190px;
  }
}
