<title>
{{- .Title -}}&nbsp;-&nbsp;
{{- if (eq .Title $.Site.Title) -}}
{{- $.Site.Params.subtitle -}}
{{- else -}}
{{- $.Site.Title -}}
{{- end -}}
</title>
<meta charset="utf-8">
<meta name="description" content="{{ $.Site.Params.description }}">
<meta name="keywords" content="{{ $.Site.Params.keywords }}">
<meta name="viewport" content="initial-scale=1, width=device-width, height=device-height">
<meta name="theme-color" content="#008db1">
<link rel="shortcut icon" href="{{ (resources.Get "favicon.ico").RelPermalink }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic">
<script src="https://kit.fontawesome.com/9d00d7c14d.js" crossorigin="anonymous"></script>
{{- $style := resources.Get "scss/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
